{% extends "base.html"%}

{%block title%} {{block.super}} | Max Min voti {%endblock title%}
{%block content%}
<h4>Max Min Voti</h4>
    <i> • Voto massimo: {{ votoMax }}  </i> </br>
    <i> • Materie con voto massimo: {{ materieMax }}  </i> </br>
    <i> • Studenti con voto massimo: {{ studentiMax }}  </i> </br>
    <i> • Voto minimo: {{ votoMin }}  </i> </br>
    <i> • Materie con voto minimo: {{ materieMin }}  </i> </br>
    <i> • Studenti con voto minimo: {{ studentiMin }}  </i> </br>
{%endblock content%}